body {
	color: #36353b;
}
.top-block {
	margin-top: 27px;
}
.logo {
	background: url(../img/logo.png) top center no-repeat;
	min-width: 170px;
	height: 38px;
	display: block;
}
.text-logo {
	font-size: 12px;
	color: #36353b;
	margin-top: 3px;
	margin-left: 10px;
}
.city {
	margin-top: 3px;
	margin-bottom: 7px;
	font-size: 13px;
}
.head-phone {
	font-size: 18px;
}
.head-phone span {
	color: #8f8e94;
}
.list-inline>li {
	padding: 0 8px;
}
.top-menu  a {
	line-height: 96px;
	font-size: 11px;
	text-transform: uppercase;
	color: #000;
	text-decoration: none;
	transition: .5s;
}
.navbar-nav>li>a {
	padding: 10px 0;
    line-height: 70px;
}
.list-inline a:hover {
	color: #1f7fe1;
	text-decoration: underline;
	
}
.cart-block {
	display: block;
	background: url(../img/catr-bg.png) center left no-repeat;
	padding-left: 41px;
	color: #000;
	text-decoration: none;
	transition: .5s;
	position: absolute;
	right: 20px;
	margin-top: 28px;
}
.cart-block:hover {
	color: #1f7fe1;
}
.cart-block span {
	color: #1f7fe1;
}
.block2 {
	border-top: 2px solid #ebebeb;
}
.goods-menu {
	margin-bottom: 0px;
	height: 80px;
}
.goods-menu a {
	font-size: 13px;
	line-height: 77px;
	transition: .5s;
	text-transform: uppercase;
	color: #000;
	font-weight: bold;
}
.goods-menu a:hover {
	text-decoration: none;
}
.goods-menu li:hover {
	border-bottom: 4px solid #1f7fe1;
	color: #1f7fe1;
}
.search-field {
	border-radius: 22px;
	height: 44px;
	border: 1px solid #b4b2b9;
	width: 100%;
	padding-left: 20px;
	margin-top: 17px;
}

* {box-sizing: border-box;}
.block2 form {
  position: relative;
  margin: 0 auto;
}
.block2 button {
  border: none;
  outline: none;
  border-radius: 18px;
}
.block2 input {
  width: 100%;
  height: 42px;
  padding-left: 15px;
}
.block2 button {
	height: 38px;
    width: 38px;
    position: absolute;
    top: 19px;
    right: 2px;
	background: #1f7fe1;
	cursor: pointer;
	transition: .5s;
}
.block2 button:before {
  font-family: FontAwesome;
  color: #F9F0DA;
  font-size: 18px;
  font-weight: bold;
}
.block2 button:hover {
	background: #175ea7;
}
.main-field {
	background-color: #f0f0f0;
	padding: 48px 0;
}
.main-blok-gray {
	background-color: #36353b;
	padding: 30px;
	height: 390px;
}
.main-blok-p a {
	color: #fff;
	font-size: 13px;
}
.main-blok-gray ul {
	margin: 0;
	padding: 0;
}
.main-blok-gray li {
	padding: 5px 0 4px;
	border-bottom: solid 1px #46454a;
}
.title-main-block {
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 14px;
}

.pl-bg {
	background: url(../img/suprema-pag-10.jpg) center no-repeat;
}
.lm-bg {
	background: url(../img/dub-nortlend-korichnevyy-em80-7196-8188-79077.jpg) center no-repeat;
}
.pr-bg {
	background: url(../img/42464.970.jpg) center no-repeat;
}
.li-bg {
	background: url(../img/laminat-v-interere-768x604.jpg) center no-repeat;
}
.right-block-p {
	height: 390px;
	color: #fff;
}
.cell div {
	font-size: 22px;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 120px;
	margin-bottom: 30px;
}
.pereiti {
	font-size: 13px;
	border-radius: 20px;
	padding: 12px 20px;
	border: 1px solid #fff;
	display: block;
	width: 150px;
	margin: 0 auto;
	text-align: center;
	transition: .5s;
}
.pereiti:hover {
	color: #000;
	text-decoration: none;
	background-color: #175ea7;
	border: 1px solid #175ea7;
}
.main-p-wrap {
	padding-right: 0;
}
.main-p-wrap>div {
	background-color: #fff;
	padding: 9px;
	position: relative;
	height: 390px;
}
.main-p-wrap img {
	max-height: 200px;
	width: 100%;
	margin: 0 auto;
}
.sale {
	background-color: #f36d00;
	position: absolute;
	top:9px;
	left:9px;
	padding: 5px 8px;
	color: #fff;
	font-size: 13px;
	
}
.plitka-lable {
	font-size: 13px;
	text-align: center;
	border-bottom: 1px solid #b4b2b9;
	display: block;
	color: #36353b !important;
	transition: .5s;
	padding: 5px 0;
	
}
.plitka-lable:hover {
	color: #175ea7 !important;
	text-decoration: none;
}
.clear {
	clear: both;
}
.price {
	font-weight: bold;
	margin-top: 5px;
}
.price, .price-sale {
	float: left;
}
.manuf-plitka {
	float: right;
	color: #1f7fe1 !important;
	display: block;
	font-size: 12px;
	padding-top: 7px;
	transition: .5s;
}
.manuf-plitka:hover {
	color: #175ea7 !important;
	text-decoration: none;
}
.price-sale {
	text-decoration: line-through;
	color: #88878e;
}
.price-wrap {
	height: 45px;
}
.more, .buy {
	display: block;
	background-color: #1f7fe1;
	border-radius: 20px;
	padding: 9px;
	margin: 5px;
	text-align: center;
	transition: .5s;
}
.more:hover, .buy:hover {
	background-color: #175ea7;
	text-decoration: none;
}
.hit-block {
	padding: 10px 0;
	background-color: #fff;
	margin-top: 48px;
}
.hit-title {
	font-size: 22px;
	text-transform: uppercase;
	margin-top: 15px;
	font-weight: bold;
}
.hit-title span {
	font-size: 12px;
	text-transform: uppercase;
}
.hit-img {
	float:left;
	width: 100px;
	margin-right: 13px;
}
.hit-img img {
	width: 100%;
	max-height: 100px;
}
.hit-block .plitka-lable {
	text-align: left;
	border: none;
	padding: 3px 0;

}
.hit-block .price, .hit-block .price-sale {
	float: none;
	margin: 0;
}
.main-blok-l, .main-blok-pr {
	margin-top: 48px;
}
.manuf-block {
	padding: 10px 0;
	background-color: #fff;
	margin-top: 48px;
}
.manuf-block img {
	width: 80%;
	vertical-align: middle;
}
.manuf-img {
	height: 130px;
    max-height: 130px;
    line-height: 130px;
    text-align: center;
}
.logo-gray {
	background: url(../img/logo-bg.png) top center no-repeat;
	width: 119px;
	height: 26px;
	display: block;
	margin-bottom: 20px;
}
footer {
	margin-top: 48px;
}
footer ul {
	margin: 0;
	padding: 0;
}
footer li {
	list-style-type: none;
	margin-bottom: 8px;
}
footer a {
	font-size: 13px;
	color: #36353b;
	padding: 3px;
	transition: .5s;
}
footer a:hover {
	color: #175ea7;
	text-decoration: none;
}
footer .fa {
	font-size: 20px;
}
.footer-title {
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 35px;
}
.footer-adress {
	font-size: 13px;
}
.footer-adress span {
	color: #88878e;
}
.footer1 {
	padding-bottom: 50px;
	border-bottom: 1px solid #b4b2b9;
}
.footer2 {
	padding: 20px 0 20px;
	font-size: 13px;
	color: #88878e;
}
.footer2 a {
	color: #1f7fe1;
}
.footer2 a:hover {
	color: #175ea7;
}

/* Каталог */
.catalog .main-p-wrap {
	margin-bottom: 20px;
}
.menu-catalog {
	background-color: #36353b;
	color: #fff;
	padding-left: 28px;
}
.menu-catalog label {
	padding-bottom: 10px;
	border-bottom: 1px solid #46454a;
}
.modal-content label {
	border-bottom: none;
	margin-bottom: 10px;
	color: #36353b;
}
.modal-content .label {
	color: #36353b;	
}
.catalog-title, .manuf-title {
	font-size: 18px !important;
	font-weight: bold !important;
	display: block;
}
.catalog-title {
	margin: 30px 0;
}
.manuf-title {
	color: #36353b;	
}
.catalog-title:hover {
	text-decoration: none;
}
.show-more {
	color: #b1b1b1 !important;
}
.color-btn a {
	color: #36353b;
}
/*Чекбоксы меню каталога */ 
label {
	display: block;
	cursor: pointer;
}
.checkbox {
    display: none;
}
.checkbox-custom {
    position: relative;
    width: 12px;
    height: 12px;
    border: 1px solid #b1b1b1;
	top: 3px;
}
.checkbox-custom,
.label {
    display: inline-block;
    vertical-align: middle;
	float: left;
	font-size: 12px;
	font-weight: 500;
}
.label {
	position: relative;
	top: 2px;
	
}
.glyphicon-remove {
	font-size: 16px;
	color: #36353b;
	position: relative;
    right: 12px;
}
#fer-close {
	height: 20px !important;
	width: 20px !important;
	background-color: #fff;
}
.breadcrumbs a {
	color: #36353b;
}
.breadcrumbs {
	color: #ccc;
}
.articles-title {
	font-size:18px !important;
	color: #36353b !important;
}
.articles-row {
	margin: 20px 0;
}
.articles-row a {
	color: #36353b !important;
}
.cart-table {
	width: 100%;
}
.cart-table td {
	padding: 5px;
	border-bottom: 1px solid #e0e0e0;
}

.cart-table .quantity input {
	margin-left: 0;
}
.total {
	font-size: 20px;
	text-align: right;
	margin: 20px 0 5px;
}
.total  span {
	font-weight: bold;
}
.min-price {
	text-align: right;
}
.cart-table a:hover {
	text-decoration: none;
}
.min-price {
	color: #cc0000;
}
.form-order {
	margin-top: 40px;
}
.form_card input, .form_card textarea {
	width: 100%;
	margin-bottom: 10px;
	height: 30px;
	border: 1px solid #e0e0e0; 
	border-radius: 4px;
	padding: 10px;
}
.form_card textarea {
	height: 100px;
}
.form_card p {
	margin:0 0 2px;
}
.form_card a{
	width: 100%;
	margin-left: 0;
	margin-bottom: 40px;
}
.quantity input {
	width: 50px;
	height: 30px;
}
.cart-table .glyphicon-remove {
	color: #36353b !important;
}
.cart-table a .glyphicon-remove:hover {
	color: #c00; !important;
}
.form-order .cart-button, .collect-button, .cat-tile-label, .single-page {
	color: #36353b !important;
}
.single-page a {
	color: #1f7fe1 !important;
	font-size: 14px;
}
.col-img img {
	width: 100%;
}
.collect-page .collect-good {
	margin-bottom: 40px;
}
.manuf-page .collect-good {
	margin-bottom: 30px;
}
.collect-good {
	width: 20%;
	padding: 0 15px;
	float: left;
	position: relative;
}
.collect-good img {
	width: 100%;
	max-height: 200px;
}
.manuf-img-wrap {
	height: 250px;
	max-height: 250px;
	display: table;
	border: 1px solid #eeeeee;
	width: 100%;
	background-color: #fff;
	padding: 10px;
}
.manuf-img-wrap img {
	width: 100%;
}

.manuf-img-wrap  div {
	display: table-cell;
    vertical-align: middle;
	text-align: center;
}
.manuf-page .collect-good {
	
}

/* Если реальный чекбокс у нас отмечен, то тогда добавляем данный признак и к нашему кастомному чекбоксу  */
.checkbox:checked + .checkbox-custom::before {
    content: "\2714";             /* Добавляем наш псевдоэлемент */
    display: block;          /* Делаем его блочным элементом */
    position: absolute;      /* Позиционируем его абсолютным образом */
 
    /* Задаем расстояние от верхней, правой, нижней и левой границы */
	top: -3px;
         /* Добавляем фон. Если требуется, можете поставить сюда картинку в виде "галочки", которая будет символизировать, что чекбокс отмечен */
    
}
.circle {
	float: left;
	margin-left: 6px;
	width: 12px;
	height: 12px; 
	border-radius: 8px;
	position: relative;
    top: 3px;
}